<div>
  <div>
    <div>
      <input type="file" (change)="fileChangeEvent($event)" />
    </div>
        <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="false"
          format="png"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()"
          (loadImageFailed)="loadImageFailed()">
        </image-cropper>

      <div>
        <img [src]="croppedImage" />
      </div>
  </div>

  <div style="width:90%">
    <ul>
      <li *ngFor="let file1 of files1" style="width:90%">
        <a (click)="retryFile(file1)" *ngIf="file1.canRetry" title="Retry">
          <mat-icon>refresh</mat-icon>
        </a>
<!--        <a (click)="cancelFile1(file1)" *ngIf="file1.canCancel" title="Cancel">-->
<!--          <mat-icon>cancel</mat-icon>-->
<!--        </a>-->
        <div class="pic" id="myImage"><img src="{{sourceUrl + file1.state}}"></div>
      </li>
    </ul>
  </div>

  <div>
    <mat-grid-list cols="20" rowHeight="100px">
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <button (click)="onClick()" color="primary" mat-stroked-button>
        {{text}}
      </button>
    </mat-grid-tile>
    <mat-grid-tile (click)="onClick()" (onFileDropped)="onClick()"
                   [colspan]="5"
                   [rowspan]="1" [style.background]="color3" appDragDrop
                   style='height: 120px; width: 120px;'>120*120px
    </mat-grid-tile>
  </mat-grid-list>
  </div>


  <div style="width:90%">
    <ul>
      <li *ngFor="let file of files" style="width:90%">
        <mat-progress-bar [value]="file.progress"></mat-progress-bar>
        <span id="file-label">{{file.data.name}}</span><br>
        <a (click)="retryFile(file)" *ngIf="file.canRetry" title="Retry">
          <mat-icon>refresh</mat-icon>
        </a>
<!--        <a (click)="cancelFile(file)" *ngIf="file.canCancel" title="Cancel">-->
<!--          <mat-icon>cancel</mat-icon>-->
<!--        </a>-->
      </li>
    </ul>
    <input accept="image/x-png,image/jpeg" id="fileUpload" multiple="multiple"
           name="fileUpload"
           style="display:none;"
           type="file"/>
  </div>

  <div>
    <h1>Cropped Image</h1>
    <img src="{{sourceUrl + imagePathCropped}}">
  </div>

</div>

